@model DepartmentDto
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<br />
<br />

<div>

    <partial name="PartialView/Details_Delete_PartialView" />

    <div class="my-3">
        <a asp-controller="Department" asp-action="Index" class="btn btn-warning">Back To List</a>
    </div>
</div>