@model DepartmentDto
@{
    ViewData["Title"] = "Update";
}

<h1>Update Department</h1>

<br />
<br />

<form asp-controller="Department" asp-action="Update" @* asp-route-Id="@Model.Id" *@>
@*     <input asp-for="Id" type="hidden"/> *@

    <partial name="PartialView/Create_Update_PartialView" />
    
    <div class="my-3">
        <input type="submit" value="Update" class="btn btn-success" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>


@section Validation_Section {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}